# Setup

In [1]:
PATH_ROOT = 'data'
PATH_PARQUET = PATH_ROOT + '/project_datasets'
PATH_QUOTEBANK = PATH_ROOT + '/Quotebank'

In [2]:
PATH_OUTPUT = 'output'

In [3]:
!pip install pyarrow

Requirement already satisfied: pyarrow in c:\users\steph\miniconda3\envs\ada\lib\site-packages (6.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\steph\miniconda3\envs\ada\lib\site-packages (from pyarrow) (1.20.3)

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

# Loading Data

## Reading wikidata labels

In [5]:
df_wikidata_labels = pd.read_csv(PATH_PARQUET + '/wikidata_labels_descriptions_quotebank.csv.bz2', compression='bz2', index_col='QID')
df_wikidata_labels

,Label,Description
QID,,
Q31,Belgium,country in western Europe
Q45,Portugal,country in southwestern Europe
Q75,Internet,global system of connected computer networks
Q148,People's Republic of China,sovereign state in East Asia
Q155,Brazil,country in South America
...,...,...
Q106302506,didgeridooist,musician who plays the didgeridoo
Q106341153,biochemistry teacher,teacher of biochemistry at any level
Q106368830,2018 Wigan Metropolitan Borough Council electi...,NaN
Q106369692,2018 Wigan Metropolitan Borough Council electi...,NaN
Q106376887,NaN,NaN

## Reading speakers parquet file

In [6]:
df_parquet = pd.read_parquet(PATH_PARQUET + '/speaker_attributes.parquet')
df_parquet.head()

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion
0,"[Washington, President Washington, G. Washingt...",[+1732-02-22T00:00:00Z],"[Q161885, Q30]",[Q6581097],1395141751,None,W000178,"[Q82955, Q189290, Q131512, Q1734662, Q294126, ...",[Q327591],None,Q23,George Washington,"[Q698073, Q697949]",item,[Q682443]
1,"[Douglas Noel Adams, Douglas Noël Adams, Dougl...",[+1952-03-11T00:00:00Z],[Q145],[Q6581097],1395737157,[Q7994501],None,"[Q214917, Q28389, Q6625963, Q4853732, Q1884422...",None,None,Q42,Douglas Adams,None,item,None
2,"[Paul Marie Ghislain Otlet, Paul Marie Otlet]",[+1868-08-23T00:00:00Z],[Q31],[Q6581097],1380367296,None,None,"[Q36180, Q40348, Q182436, Q1265807, Q205375, Q...",None,None,Q1868,Paul Otlet,None,item,None
3,"[George Walker Bush, Bush Jr., Dubya, GWB, Bus...",[+1946-07-06T00:00:00Z],[Q30],[Q6581097],1395142029,None,None,"[Q82955, Q15982858, Q18814623, Q1028181, Q1408...",[Q29468],None,Q207,George W. Bush,"[Q327959, Q464075, Q3586276, Q4450587]",item,"[Q329646, Q682443, Q33203]"
4,"[Velázquez, Diego Rodríguez de Silva y Velázqu...",[+1599-06-06T00:00:00Z],[Q29],[Q6581097],1391704596,None,None,[Q1028181],None,None,Q297,Diego Velázquez,None,item,None

In [7]:
df_parquet.id.is_unique

True

Safe to use Qids in parquet file as index

In [8]:
df_parquet.set_index(keys='id', inplace=True)
df_parquet.head()

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,label,candidacy,type,religion
id,,,,,,,,,,,,,,
Q23,"[Washington, President Washington, G. Washingt...",[+1732-02-22T00:00:00Z],"[Q161885, Q30]",[Q6581097],1395141751,None,W000178,"[Q82955, Q189290, Q131512, Q1734662, Q294126, ...",[Q327591],None,George Washington,"[Q698073, Q697949]",item,[Q682443]
Q42,"[Douglas Noel Adams, Douglas Noël Adams, Dougl...",[+1952-03-11T00:00:00Z],[Q145],[Q6581097],1395737157,[Q7994501],None,"[Q214917, Q28389, Q6625963, Q4853732, Q1884422...",None,None,Douglas Adams,None,item,None
Q1868,"[Paul Marie Ghislain Otlet, Paul Marie Otlet]",[+1868-08-23T00:00:00Z],[Q31],[Q6581097],1380367296,None,None,"[Q36180, Q40348, Q182436, Q1265807, Q205375, Q...",None,None,Paul Otlet,None,item,None
Q207,"[George Walker Bush, Bush Jr., Dubya, GWB, Bus...",[+1946-07-06T00:00:00Z],[Q30],[Q6581097],1395142029,None,None,"[Q82955, Q15982858, Q18814623, Q1028181, Q1408...",[Q29468],None,George W. Bush,"[Q327959, Q464075, Q3586276, Q4450587]",item,"[Q329646, Q682443, Q33203]"
Q297,"[Velázquez, Diego Rodríguez de Silva y Velázqu...",[+1599-06-06T00:00:00Z],[Q29],[Q6581097],1391704596,None,None,[Q1028181],None,None,Diego Velázquez,None,item,None

### Getting different gender values (Just messing around with parquet and wikidata)

In [9]:
def get_array_length(x):
    if x is not None:
        return len(x) 
    return 0

def get_second_gender(x):
    if x is None:
        return 'Q0'
    if len(x) == 2:
        return x[1]
    else:
        return 'Q0'

def get_first_gender(x):
    if x is None:
        return 'Q0'
    if len(x) > 0:
        return x[0]
    else:
        return 'Q0'

In [10]:
# How many have more than one gender value
len(df_parquet[df_parquet.gender.apply(get_array_length) > 1])

1380

In [11]:
# Group all the first gender values in a set, all the second in another set, and do set difference
# This confirms that first gender values encapsulate all possible gender values and we can use that for later
set(df_parquet.gender.apply(get_second_gender).unique()).difference(set(df_parquet.gender.apply(get_first_gender).unique()))

{'Q15145782', 'Q15145783', 'Q281833', 'Q3277905', 'Q51415', 'Q8964773'}

In [12]:
gender_qids = pd.concat([df_parquet.gender.apply(get_first_gender), df_parquet.gender.apply(get_second_gender)]).drop_duplicates()

In [13]:
# Getting all different gender values
df_wikidata_labels.merge(right = gender_qids, how='right', left_on='QID', right_on='gender')[['gender', 'Label']]

        gender               Label
0     Q6581097                male
1     Q6581072              female
2     Q1052281  transgender female
3           Q0                 NaN
4     Q2449503    transgender male
5       Q48270          non-binary
6     Q1097630            intersex
7    Q12964198         genderqueer
8      Q189125  transgender person
9    Q15145779    cisgender female
10     Q301702          two-spirit
11     Q179294              eunuch
12   Q27679766      transmasculine
13   Q18116794         genderfluid
14     Q859614            bigender
15      Q44148       male organism
16    Q1289754            neutrois
17  Q106299064               Erkek
18   Q27679684       transfeminine
19   Q15145778      cisgender male
20   Q52261234         neutral sex
21     Q207959           androgyny
22      Q43445     female organism
23     Q505371             agender
24    Q7130936           pangender
25   Q96000630            X-gender
26    Q1984232             shemale
27   Q93954933             demiboy
28     Q746411             kathoey
29      Q48279        third gender
30    Q3177577                muxe
31    Q1775415            feminine
32       Q6636       homosexuality
33   Q15145782                 NaN
34    Q8964773                Gorō
35     Q281833   Taira no Kiyomori
36      Q51415               queer
37   Q15145783                 NaN
38    Q3277905                māhū

We have speakers who are demiboys...
But what is Taira no Kiyomori Q281833?

In [14]:
#df_parquet_labels_2 = pd.read_csv(PATH_TO_PARQUET + '/wikidata_labels_descriptions.csv.bz2', compression='bz2', index_col='QID')
#df_parquet_labels_2

**Note**: You can use [explode](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.explode.html) pandas function to transform each element of a list-like to a row, replicating index values.

In [15]:
df_gender_exploded = df_parquet.explode('gender')
df_gender_exploded[df_gender_exploded.gender == 'Q281833']

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,label,candidacy,type,religion
id,,,,,,,,,,,,,,
Q710537,None,[+1157-01-01T00:00:00Z],[Q17],Q281833,1386969157,None,None,[Q38142],None,None,Taira no Shigehira,None,item,None

Finding: Taira no Shigehira has bad gender value Q281833	which refers to another speaker.

# Handling data

## Writing data to files

Since we're dealing with large amounts of data, we might have to store intermediary results to csv files. Let's try writing dataframes to csv files.

In [16]:
df_example = pd.DataFrame(data = {'col1': [1, 2], 'col2': [3, 4]})
df_example

   col1  col2
0     1     3
1     2     4

In [17]:
example_path = PATH_OUTPUT + '/example.csv'
df_example.to_csv(path_or_buf=example_path, index=False)
df_example_result = pd.read_csv(example_path)
df_example_result

   col1  col2
0     1     3
1     2     4

Now let's try appending another dataframe to the above csv

In [18]:
df_example_2 = pd.DataFrame(data = {'col1': [5, 6], 'col2': [7, 8]})
df_example_2.to_csv(example_path, mode='a', index=False, header=False)
df_example_result = pd.read_csv(example_path)
df_example_result

   col1  col2
0     1     3
1     2     4
2     5     7
3     6     8

## Merging speakers with their quotes

### Sample 10000 random speakers

In [19]:
sample_10000_speakers = df_parquet.sample(n=10000)
sample_10000_speakers

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,label,candidacy,type,religion
id,,,,,,,,,,,,,,
Q14378770,None,[+1902-07-16T00:00:00Z],"[Q183, Q155]",[Q6581097],1390479132,None,None,"[Q169470, Q593644]",None,None,Hans Stammreich,None,item,None
Q4096606,[Oleg Viktorovich Britvin],[+1937-03-11T00:00:00Z],"[Q15180, Q159]",[Q6581097],1393456370,None,None,[Q43845],None,None,Oleg Britvin,None,item,None
Q45640123,None,None,[Q9683],[Q6581097],985375469,None,None,None,None,None,Ding Jingbin,None,item,None
Q51668755,None,None,None,[Q6581097],1388979429,None,None,None,None,None,None,None,item,None
Q21246051,[Yevgeny Aleksandrovich Levin],[+1990-06-26T00:00:00Z],[Q159],[Q6581097],1393641383,None,None,[Q10873124],None,None,Yevgeny Levin,None,item,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Q1097404,None,[+2000-01-01T00:00:00Z],[Q183],[Q6581072],1350452789,None,None,[Q3055126],None,None,Claudia Drees,None,item,None
Q5568937,None,[+1906-01-01T00:00:00Z],None,[Q6581097],1315723220,None,None,None,None,None,Glenn L. Archer,None,item,None
Q763653,None,[+1823-10-10T00:00:00Z],[Q183],[Q6581097],1390041180,None,None,None,None,None,August Roth,None,item,None
Q350691,None,[+1974-05-16T00:00:00Z],[Q30],[Q6581097],1391786201,None,None,[Q33999],None,None,Adam Richman,None,item,None
Q21553355,None,[+1882-04-27T00:00:00Z],[Q29999],[Q6581097],1369051036,None,None,"[Q1028181, Q15296811]",None,None,Sjoerd Bouritius Jacobus Denijs,None,item,None

### Getting their quotes

In [20]:
# We choose the columns we are interested in 
quotes_filter_columns = ['quoteID', 'quotation', 'speaker', 'qids']
speaker_attributes_filter_columns = ['date_of_birth', 'gender', 'party', 'religion']

**Warning**: Some speakers have multiple qids!

In [22]:
merged_chunks = []

with pd.read_json(path_or_buf=PATH_QUOTEBANK + '/quotes-2020.json.bz2', compression='bz2', lines=True, chunksize=500000) as df_reader:
    for chunk in df_reader:
        # filter the columns
        chunk = chunk[quotes_filter_columns]
        # TODO: filter quotes with None speaker?
        
        # Some quote have multiple speaker qids. need to explode that and treat them each as a separate quote
        chunk = chunk.explode('qids')
        merged_chunks.append(chunk.merge(right=sample_10000_speakers[speaker_attributes_filter_columns], right_index=True, left_on='qids'))

result = pd.concat(merged_chunks, ignore_index=True)
result

,quoteID,quotation,speaker,qids,date_of_birth,gender,party,religion
0,2020-04-09-004273,"Are they quarantined together? I believe, yes,",Wendy Williams,Q24004546,[+1942-04-21T00:00:00Z],[Q6581072],None,None
1,2020-03-19-071953,They had every right to be here and should nev...,Wendy Williams,Q24004546,[+1942-04-21T00:00:00Z],[Q6581072],None,None
2,2020-01-15-110443,"When he shaves off his mustache, he's got a ha...",Wendy Williams,Q24004546,[+1942-04-21T00:00:00Z],[Q6581072],None,None
3,2020-01-23-063407,"No, we are not matching,",Wendy Williams,Q24004546,[+1942-04-21T00:00:00Z],[Q6581072],None,None
4,2020-01-21-055611,"My office is behind the set, so I went to the ...",Wendy Williams,Q24004546,[+1942-04-21T00:00:00Z],[Q6581072],None,None
...,...,...,...,...,...,...,...,...
11223,2020-02-16-034547,Seniority is still a key element in choosing l...,Uvalde Lindsey,Q16731528,[+1940-01-17T00:00:00Z],[Q6581097],[Q29552],None
11224,2020-02-16-046366,This was a neat way to share some historical r...,James O'Donnell,Q58034955,None,[Q6581097],None,None
11225,2020-01-28-017794,"Even when I was doing combat sports, I was fee...",Lee Barber,Q51577222,None,None,None,None
11226,2020-03-04-077163,We should be very careful not to mislead other...,Wei Zhang,Q45672743,None,[Q6581097],None,None
11227,2020-01-15-017339,ensure the visibility of financial professiona...,Dana Wilson,Q2234045,[+1946-02-04T00:00:00Z],[Q6581097],None,None

In [26]:
# Save to csv
result.to_csv(path_or_buf=PATH_OUTPUT + '/speakers_quotes_1000_samples.csv', index=False)